<div class="photos-gallery">
<div class="photos-gallery-sub">
<!-- Gallery -->
<div class="row">
  <% vendor.forEach(vendor => { %>
    <% if (vendor.type==="Honey Moon") { %>
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
          src="<%=vendor.img  %>"
          class="w-100 shadow-1-strong rounded mb-4"
          alt=""
        />
    
       
      </div>
    
    <% } %>
   <% }) %>
    
  </div>
  <!-- Gallery -->
</div>
</div>