<div class="website-contact-page">
  <div class="website-contact-page-sub">
    <div class="website-contact-page-heading">Happily Ever After</div>
    <div class="website-contact-page-para">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum
      adipisci modi reprehenderit similique voluptas ex? Hic labore omnis,
      laudantium adipisci veniam magnam dolor nostrum accusamus officia
      mollitia. Est, aperiam facere. Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Laborum qui necessitatibus maiores, quos cupiditate
      sapiente facere expedita ipsum ratione hic quibusdam nobis illum molestiae
      unde doloremque incidunt? Impedit mollitia eius corporis placeat obcaecati
      molestiae magni voluptatem nam illum libero quis natus accusantium et
      eaque exercitationem excepturi debitis doloribus, sequi
    </div>
    <div class="website-contact-page-members">
      <div class="website-contact-page-member-container">
        <div class="websit-contact-page-member-img">
          <img src="img/axill.jpg" alt="" />
        </div>
        <div class="websit-contact-page-member-content">
          <div class="websit-contact-page-member-name">
            Axill Dcunha
          </div>
          <div class="websit-contact-page-member-details">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, id
            suscipit eum ea quidem dolorem voluptatem aspernatur. Ad dicta,
            veritatis maiores, nam repellendus voluptatem, commodi laborum iusto
            repellat ab cum.
          </div>
        </div>
      </div>
      <div class="website-contact-page-member-container">
        <div class="websit-contact-page-member-img">
          <img src="img/jessica.jpeg" alt="" />
        </div>
        <div class="websit-contact-page-member-content">
          <div class="websit-contact-page-member-name">
            Jessica Allen Gonsalves
          </div>
          <div class="websit-contact-page-member-details">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, id
            suscipit eum ea quidem dolorem voluptatem aspernatur. Ad dicta,
            veritatis maiores, nam repellendus voluptatem, commodi laborum iusto
            repellat ab cum.
          </div>
        </div>
      </div>
      <div class="website-contact-page-member-container">
        <div class="websit-contact-page-member-img">
          <img src="img/jessica.jpeg" alt="" />
        </div>
        <div class="websit-contact-page-member-content">
          <div class="websit-contact-page-member-name">
            Jessica Allen Gonsalves
          </div>
          <div class="websit-contact-page-member-details">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, id
            suscipit eum ea quidem dolorem voluptatem aspernatur. Ad dicta,
            veritatis maiores, nam repellendus voluptatem, commodi laborum iusto
            repellat ab cum.
          </div>
        </div>
      </div>
      <div class="website-contact-page-member-container">
        <div class="websit-contact-page-member-img">
          <img src="img/jessica.jpeg" alt="" />
        </div>
        <div class="websit-contact-page-member-content">
          <div class="websit-contact-page-member-name">
            Jessica Allen Gonsalves
          </div>
          <div class="websit-contact-page-member-details">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, id
            suscipit eum ea quidem dolorem voluptatem aspernatur. Ad dicta,
            veritatis maiores, nam repellendus voluptatem, commodi laborum iusto
            repellat ab cum.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
