  <!-- slideshow here -->
  <div class="containerslide">
    <div class="slides">
      <div class="slide">
        <img src="img/slide-1.png" alt="">
      </div>
      <div class="slide">
        <img src="img/slide-2.jpg" alt="">
      </div>
      <div class="slide">
        <img src="img/slide-3.jpg" alt="">
      </div>
      <div class="slide">
        <img src="img/slide-4.jpg" alt="">
      </div>
    </div>
    <div class="slide-control">
      <button id="prev-btn"><span></span></button>
      <button id="next-btn"><span></span></button>
    </div>
  </div>

  <!-- slideshow here -->
 

  <div class="catogeries">

    <div class="cat-heading">
      <div class="head-cate">
        Wedding Categories
      </div>

    </div>

    <div class="cat">
      <div class="subcat">

      </div>
      <div class="subcat">

      </div>

    </div>

    <div class="cat">
      <div class="subcat">

      </div>
      <div class="subcat">

      </div>

    </div>
    <div class="cat">
      <div class="subcat">

      </div>
      <div class="subcat">

      </div>

    </div>
    <div class="foot-cate">
      <a href="">View all Categories ></a>
    </div>
  </div>


  <footer>
    <div class="footer1">

    </div>
    <div class="footer2">

    </div>
    <script src="js/index.js"></script>
