
<div class="select-one">
    <div class="selhed">
        <h4 class="h4"> Write a Review for your Wedding Vendors</h4>
        <h6 class="h6">Had a great experience with your wedding photographer? Or the food at the venue left you
            disappointed? Please tell us your experience below. Your reviews help other engaged couples in making
            informed decisions.</h6>
    </div>
    <div class="review-area">
        <div class="review-box">
            <div class="vendor">
                <span class="spann"></span>
                <div class="vhead">
                    <div class="vhead1">
                        <p class="head">Select a Vendor</p>
                    </div>
                </div>
                <div class="vendor-textbox">
                    <div class="vbox">
                        <input type="text" class="boxx" placeholder="Type vendor name*" 
                            style="border: none;">
                    </div>
                </div>
                <form>
                    <p class="rating-text">Rate Vendor*</p>
                    <div class="rate">
                        <div class="rater">
                            <span class="rater1">
                                <div class="rate-box"></div>
                                <div class="rate-box"></div>
                                <div class="rate-box"></div>
                                <div class="rate-box"></div>
                                <div class="rate-box"></div>
                                <div class="rate-box"></div>
                                <div class="rate-box"></div>
                                <div class="rate-box"></div>
                                <div class="rate-box"></div>
                                <div class="rate-box"></div>
                            </span>
                            <span class="rate-text"></span>
                        </div>
                        <div class="rater2">
                            <input type="checkbox" class="checkb">
                            <label class="feedback">
                                Share On Feedback
                            </label>
                        </div>
                    </div>
                    <div class="text-box">
                        <textarea name="message" placeholder="Tell Us About Your Expirience*" cols="30" rows="5"
                            class="text"></textarea>
                    </div>
                    <input type="number" placeholder="How Much did You Spend On This Vendor ?" class="spent">
                    <div class="buttongen">
                        <div class="button1">
                            Add Photos
                        </div>
                        <div class="button2">
                            Submit Review
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


