<div class="form-vendorform-main">
    <div class="form-vendorform-main1">
        <div class="form-vendorform-left">
            <img src="img/FN-Wedding-001009_preview.jpeg" alt="">

        </div>
        <div class="form-vendorform-right">
            <div class="form-vendorform-right1">
           <form action="/vendorform" method="post">
               <header>Vendor Details</header>
               <label for="">Brand Name</label>
               <input name="userDisplayName" class="input-vendor-form" type="text" placeholder="brandname" >
               <label for="">Description</label>
               <textarea name="description" placeholder="Description" class="input-vendor-form" name="description" cols="48" rows="5"></textarea>
               <label for="">Choose a Categorie</label>
               <select name="categorie" class="input-vendor-form">  
                <option value = "choose a categorie"> choose a categorie   
                </option>  
                <option value = "Photographers"> Photographers   
                </option>  
                <option value = "Makeup"> Makeup  
                </option>  
                <option value = "Bridal Wear"> Bridal Wear </option>  
                <option value = "Groom Wear"> Groom Wear </option>  
                <option value = "Music & Dance"> Music & Dance </option>  
                <option value = "Florist"> Florist </option>  
                <option value = "Food"> Food </option>  
                <option value = "Mehndi"> Mehndi </option>  
                <option value = "Planning & Decor"> Planning & Decor </option>  
                <option value = "Invites & Gifts"> Invites & Gifts </option>  
                <option value = "Jewellary & Accessories"> Jewellary & Accessories </option>  
                <option value = "Honey Moon"> Honey Moon </option>  
                </select> 
                <label for="">Price</label>
                <input name="price" class="input-vendor-form" placeholder="Price" type="number">
                <label for=""> Upload Photos</label>
                <input name="img" class="input-vendor-form" type="file" accept="image/*">
                <button class="input-vendor-form-submit" type="submit">Submit</button>
           </form>
            </div>
        </div>

    </div>


</div>



