<div class="form-vendorform-main">
    <div class="form-vendorform-main1">
        <div class="form-vendorform-left">
            <img src="img/FN-Wedding-001009_preview.jpeg" alt="">

        </div>
        <div class="form-vendorform-right">
            <div class="form-vendorform-right1">
           <form action="/vendorform" method="post">
               <header>Vendor Details</header>
               <label for="">Brand Name</label>
               <input type="text" placeholder="brandname" >
               <label for="">Description</label>
               <textarea name="description" cols="48" rows="5"></textarea>
           </form>
            </div>
        </div>

    </div>


</div>



