.catogeries{
  padding-top: 30px;
  background-color: aqua;
  width: 100%;
  
}
.heading-c{
  width: 70%;
  background-color: aquamarine;
  display: inline-flex;
}
.cat-opt{
  width: 70%;
  background-color:salmon;
  display: flex;
  align-items: center;
  justify-content: center;
}