.selhed{
    padding: 50px 140px;
    text-align: center;
}
.h4{
    font-size: 22px;
    font-weight: 400;
}
.h6{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.review-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vhead{
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.vhead1{
 display: flex;
 flex-direction: column;
    padding-bottom: 20px; 

}
.head{
  margin: 0px;
    font-size: 16px;
    font-weight: 600;
}
 .review-box{
  min-width: 60%;
  display: block;
    padding: 20px 45px;
    margin-top: -30px;

} 

.vendor-textbox{
position: relative;
flex: 1 1;
align-self: stretch;
flex-direction: column;
justify-content: center;
font-weight: 400;
position: relative;
}
.vbox{
  height: 50px;
      -webkit-box-shadow: 0 0 2px 0 rgb(0 0 0 / 10%), 0 0 0 1px rgb(0 0 0 / 10%);
      box-shadow: 0 0 2px 0 rgb(0 0 0 / 10%), 0 0 0 1px rgb(0 0 0 / 10%);
      padding: 9px 10px;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      border: 0 solid #d7d7d7;
}
.boxx{
  font-size: 15px;
  font-weight: 400;
  background-color: white;
}
.rating-text{
  margin: 0px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
}
.rate{
  display:flex;
  align-content: center;
  justify-content: space-between;
  position: relative;
    margin-top: 20px;
}
.rater{
  display: flex;
  height: 20px;
  align-content: center;
  flex-direction: row;
}
.rater1{
  display: flex;
  height: 20px;
  align-items: center;
}
 .rater2{
  display: flex;
  align-items: center;
  justify-content: center;
} 
.spann{
    z-index: 3;
    width: 95%;
    position: absolute;
    height: 100%;
}
.rate-box{
  background: white;
    border: 1px solid rgb(215, 215, 215);
    align-self: center;
    height: 20px;
    width: 20px;
    background-color: #d7d7d7;
    margin-right: 10px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.rate-text{
  text-align: right;
}
 .feedback{
  font-family: sans-serif;
} 
 .checkb{
  padding-right: 4px;
} 
.text-box{
  position: relative;
  margin-top: 20px;
}
.text{
  display: flex;
    height: 170px;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
}
.spent{
  height: 50px;
    line-height: 50px;
    border-radius: 2px;
    border: 1px solid #d7d7d7;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
}
.buttongen{
  margin-top: 20px;
  display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.button1{
border: 1px solid #d7d7d7;
width: 120px;
height: 40px;
cursor: pointer;
margin-right: 20px;
font-size: 16px;
font-weight: 400;
display: flex;
align-items: center;
justify-content: center;
}
.button2{
 
height: 40px;
width: 150px;
border-radius: 2px;
cursor: pointer;
background-color: #e72e77;
color: #fff;
font-size: 16px;
font-weight: 400;
display: flex;
align-items: center;
justify-content: center;
}