.search-website{
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.search-website-content{
    width: 80% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    font-family: sans-serif !important;
}
.search-website-header{
    font-size: 25px !important;
}
.search-website-header p{
    margin-bottom: 0 !important;
}
.search-website-bar{
    margin-top: 30px !important;
    width: 60% !important;
    
}
.search-website-bar input{
    width:80% !important;
    border: 2px dashed palevioletred !important;
    padding: 10px !important;

}
.search-website-bar input:focus{
    outline: none;
}
.search-website-bar button{

    width: 15% !important;
    padding: 12px !important;
    outline: none !important;
    border: none !important;
    background-color: palevioletred !important;
    font-weight: 600 !important;
    color: white !important;
}
.search-website-popular{
    width: 55% !important;
    margin-top: 20px !important;

}
.search-website-popular-header{
    font-size: larger !important;
}
.search-website-popular-searches button{
   
    border-radius: 100px !important;
    border: none !important;
    padding: 8px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: rgb(231, 142, 157) !important;
    font-size: medium !important;
    color: white !important;
    width: auto !important;

}