<div class="row row-cols-1 row-cols-md-4 g-4 p-5">
  <% vendor.forEach(vendor => { %>
   <% if (vendor.type==="groomwear") { %>
     <div class="col">
       <div class="card">
         <img src="<%=vendor.img  %>" class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title"><%=vendor.name%></h5>
           <p class="card-text"><%=vendor.description.slice(0,100)%></p>
         </div>
       </div>
     </div>
   <% } %>
  <% }) %>
 </div>